
.navbars input[type="checkbox"],
.navbars .hamburger-lines{
    display: none;
}
.navbars{
    box-shadow: 0px 5px 10px 0px #aaa;
    width: 100%;
    background:coral;
    color: white;
    opacity: 0.85;
    z-index: 100;
    position: relative;
}

.navbars-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 24px;
}

.menu-items li{
    list-style: none;
    font-size: 18px;
    margin-left: 15px;
}

.navbars a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbars a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbars{
        opacity: 0.95;
    }

    .navbars-container input[type="checkbox"],
    .navbars-container .hamburger-lines{
        display: block;
    }

    .navbars-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbars-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbars-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbars-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbars-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbars-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbars-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbars .menu-items{
        margin-top: -20px;
        padding-top: 100px;
        background: black;
        height: 100vh;
        width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
        position: absolute;
    }

    .navbars .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight:100;
    }

    .logo{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        
    }

    .navbars-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbars-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbars-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbars-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbars-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}